<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Recommendation System - ManyGiftsUK</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_steffen.css') }}">
 <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  
</head>
<body>
		<div id="logo">
			<img src="{{url_for('static', filename='logo_max.png')}}" alt="logo" class="logo"/>
	        <!-- <img src="logo.png" alt="logo" class="logo"> -->
		</div>
		
	<div id="outer">
	  <div id="inner">
	  
    	 <div class="box1">
		    <div class="login">
	
		   	<h1>Recommend products to customer!</h1>

		        <!-- Main Input For Receiving Query to our ML -->
		       <form action="{{ url_for('predict')}}"method="post">
		       	<input type="text" name="csv" placeholder="Customer ID" required="required" />
		         <button type="submit" class="btn btn-primary btn-block btn-large">Recommend now!</button>
		       </form>

		      <br>
		      <br>
		      {{ prediction_text }}

		    </div>
		 </div>
    	 <div class="box2">
		    <div class="login2">
		   	<h1>Recommend similar products!</h1>

		        <!-- Main Input For Receiving Query to our ML -->
		       <form action="{{ url_for('predict_2')}}"method="post">
		       	<input type="text" name="csv_2" placeholder="Stock ID" required="required" />
		         <button type="submit" class="btn btn-primary btn-block btn-large">Recommend now!</button>
		       </form>

		      <br>
		      <br>
		      {{ prediction_text_2 }}

		    </div>
		 
		 </div>
	  
	  </div>
	</div>
</body>
</html>
